:root {
    --color-light: #EDF2EF;
    --color-dark: #212738;
    --color-green: #D1D646;
    --color-red: #F97068;
    --color-blue: #57C4E5;
    --font-family: "Quicksand", sans-serif;

    --interactive-color: light-dark(var(--color-green), var(--color-red));
    --interactive-color-reverse: light-dark(var(--color-red), var(--color-green));

    --heading-color: var(--color-blue);
    --header_footer-background: #444;

    --transition: all 0.3s ease-out;

    color-scheme: light dark;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    scroll-behavior: smooth;

    /* View Transition */
    view-transition-name: root;

    &:has(body.darkMode) {
        color-scheme: dark;
    }

    &:has(body.lightMode) {
        color-scheme: light;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    scroll-margin-top: 1.5em;
}

h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
}

h2 {
    font-size: clamp(2rem, 4vw, 3rem);
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

h4 {
    font-size: clamp(1.25rem, 2.5vw, 2rem);
}

h5 {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

h6 {
    font-size: clamp(0.875rem, 1.5vw, 1.25rem);
}

a {
    color: var(--interactive-color);
    transition: var(--transition);

    &:hover,
    &:focus {
        color: var(--interactive-color-reverse);
    }
}

button, .button {
    background-color: var(--interactive-color);
    color: light-dark(var(--color-light), var(--color-dark));
    border: 1px solid var(--interactive-color);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
        background-color: var(--interactive-color-reverse);
        color: light-dark(var(--color-dark), var(--color-light));
        border: 1px solid var(--interactive-color-reverse);
    }
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    color: light-dark(var(--color-dark), var(--color-light));
    background-color: light-dark(var(--color-light), var(--color-dark));
    font-family: var(--font-family);
    font-weight: 500;
    transition: var(--transition);
}

hr {
    border: none;
    border-top: 1px solid light-dark(var(--color-dark), var(--color-light));
    margin: 10px 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        object-position: center;
        max-height: 450px;
    }

    .heroText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-dark);
        text-align: center;
    }
}

.fixedButtons {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
        background-color: light-dark(var(--color-dark), var(--color-light));
        color: light-dark(var(--color-light), var(--color-dark));
        border: 1px solid light-dark(var(--color-dark), var(--color-light));
        padding: 0.75rem 0.75rem;
        border-radius: 0.5rem;
        text-decoration: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: var(--transition);
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus {
            background-color: light-dark(var(--color-light), var(--color-dark));
            color: light-dark(var(--color-dark), var(--color-light));
            border: 1px solid light-dark(var(--color-dark), var(--color-light));
        }
    }
}

/* View Transition Styles */
@view-transition {
    navigation: auto;
}

html::view-transition {
    animation-duration: 0.3s;
}

::view-transition-old(root) {
    opacity: 1;
}

::view-transition-new(root) {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* View Transition Styles */