:root {
    --color-light: #EDF2EF;
    --color-dark: #212738;
    --color-green: #D1D646;
    --color-red: #F97068;
    --color-blue: #57C4E5;

    color-scheme: light dark;
    scroll-behavior: smooth;

    scroll-margin-top: 2rem;

    &:has(body.darkMode) {
        color-scheme: dark;
    }

    &:has(body.lightMode) {
        color-scheme: light;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100dvh;
    color: light-dark(var(--color-dark), var(--color-light));
    background-color: light-dark(var(--color-light), var(--color-dark));
}

hr {
    border: none;
    border-top: 1px solid light-dark(var(--color-dark), var(--color-light));
    margin: 10px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 3 / 1;
    }

    .heroText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-dark);
        text-align: center;
    }
}

.fixedButtons {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
        background-color: light-dark(var(--color-dark), var(--color-light));
        color: light-dark(var(--color-light), var(--color-dark));
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        text-decoration: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-out;

        &:hover,
        &:focus {
            background-color: light-dark(var(--color-light), var(--color-dark));
            color: light-dark(var(--color-dark), var(--color-light));
        }
    }
}