header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    transition: var(--transition);
    background: var(--header_footer-background);

    .mainMenu {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        padding: 15px 0;

        a {
            text-decoration: none;
            transition: var(--transition);
            color: var(--interactive-color);

            &:hover,
            &:focus {
                color: var(--interactive-color-reverse);
                font-weight: bold;
            }

            &.active {
                color: var(--interactive-color-reverse);
                font-weight: bold;
            }
        }
    }
}

footer {
    background-color: var(--header_footer-background);
    margin-top: 2rem;
    color: var(--color-light);
    transition: var(--transition);

    a {
        text-decoration: none;
        color: var(--interactive-color);

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .footerTop {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));

        .socials {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            a {
                font-size: 1.5rem;
                text-decoration: none;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .footerBottom {
        margin-top: 2rem;
        border-top: 1px solid var(--color-light);
        text-align: center;
    }
}